<app-header></app-header>
<app-sizer [(size)]= "fontSizePx" (sizeChange) = "fontSizePx=$event"></app-sizer>
<div [style.font-size.px]= "fontSizePx"></div>

<!-- this is the code to run our output and input decorator  -->
<!-- <app-new-cmp (newItemEvent)="addItem($event)" [size] = "totalSize"></app-new-cmp>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul> -->


<!-- <div>
  <h3>Hello to Angular training</h3>
  {{ title }}
</div>
<div>
  Months :
  <select #month (change) = "changeMonths($event)">
    <option *ngFor="let i of months">{{ i }}</option>
  </select>
</div>
<div>
  <p *ngIf="isavailable">Condition is valid</p>
  <button (click)="clickFunction()">click me</button>
</div> -->

<!-- {{title}}
    
<input [(ngModel)]='firstname'> 
<input [(ngModel)]='lastname'>  -->

<!-- 
home and print the new compoennt  -->
