<!-- <app-header></app-header> -->
<app-navbar></app-navbar>
<!-- <button [ttClass]>Click me</button> uncomment this to use the ttclass directive  --> 
<!-- <app-new-cmp></app-new-cmp> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <button [ttClass]= "blue">Click me</button> -->
<!-- this is the code to run our output and input decorator  -->
<!-- <app-new-cmp (newItemEvent)="addItem($event)" [size] = "totalSize"></app-new-cmp>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul> -->


<div  style="text-align: center">
  <h3>Hello to Angular training</h3>
 
</div>
<div>
 <h1>lowercase pipe</h1>
  <p>{{title| lowercase}}</p> 
<h1> uppercase pipe</h1>
  <p>{{title| uppercase}}</p> 
  <h1>Currency Pipe</h1>
  <p >{{5000.50 | currency:"USD"}}</p> 
  <!-- // for USD -->
  <p >{{5000.50 | currency:"USD" :true}}</p> 
   <!-- for cureency symbol -->

   <h1>Date Pipe</h1>
   <p>{{todaydate | date: 'd/M/y'}}</p>
   <p>{{todaydate | date: 'shortTime'}}</p>

   <h1>Decimal Pipe</h1>
   <p>{{343.7766555 | number: '2.1-1'}}</p>
 
   <h1>JSON pipe</h1>
   <p>{{jsonval | json}}</p>
   <h1>Percent Pipe</h1>
   <p>{{00.545653 | percent}}</p>
   <h1>Slice Pipe</h1>
   <p>{{months | slice:2:6}}</p>
   <h1>This is our square root pipe custom made</h1>
   <p>{{25 | sqrt}}</p>

</div> 


 






















<app-sizer [(size)]= "fontSizePx" (sizeChange) = "fontSizePx=$event"></app-sizer>
<div [style.font-size.px]= "fontSizePx"></div> 
<div>
  Months :
  <select #month (change) = "changeMonths($event)">
    <option *ngFor="let i of months">{{ i }}</option>
  </select>
</div>
<!-- <div>
  <p *ngIf="isavailable">Condition is valid</p>
  <button (click)="clickFunction()">click me</button>
</div> -->
<div>
  <span *ngIf="isavailable; then condition1 else condition2"></span> 
  <ng-template #condition1>Tickets are avaiable for the match</ng-template>
  <ng-template #condition2>Tickets are not avaiable for the match</ng-template> 
  <!-- enables us to add more functionality directly into our html file -->
</div>


<ng-template #sayHelloTemplate>
  <p>Say hello</p>
</ng-template>
<ng-template #testTemplate>
  <h1>This is a test template</h1>

</ng-template>

<div *ngTemplateOutlet="testTemplate">

</div>
<!-- <ng-template let-class="class" #classTemplate>
  <p>The class of this seat is  {{class}}</p>
</ng-template> -->

<ng-template let-price="price" let-class="class" #priceTemplate>
  <p>This is a {{class}} class ticket and the price of the ticket is {{price}}</p>
</ng-template>

<ng-template let-movie="movie" #movieTemplate>
  <p>The name of the movie is {{movie.name}} and it is a {{movie.genre}} movie</p>

</ng-template>
<ng-container [ngTemplateOutlet]="movieTemplate" 
[ngTemplateOutletContext]="{movie:{name:'Avenger', genre:'Action'}} ">
</ng-container>

<!-- <ng-container [ngTemplateOutlet]="classTemplate"
  [ngTemplateOutletContext] = "{class:'Gold'}">
</ng-container> -->
<ng-container *ngTemplateOutlet="priceTemplate; context:{price:'500' , class:'Silver'} " >
  
</ng-container>
<ng-container [ngTemplateOutlet]="priceTemplate"
  [ngTemplateOutletContext] = "{price:'1000' , class:'Gold'}">
</ng-container>
<!-- <ng-container [ngTemplateOutlet]="classTemplate"
  [ngTemplateOutletContext] = "{class:'Diamond'}">
</ng-container> -->
<ng-container [ngTemplateOutlet]="priceTemplate"
  [ngTemplateOutletContext] = "{price:'2000' , class:'Diamond'}">
</ng-container>









<!-- {{title}}
    
<input [(ngModel)]='firstname'> 
<input [(ngModel)]='lastname'>  -->

<!-- 
home and print the new compoennt  -->
