<div>
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="firstname" placeholder="firstname" />
    <br />
    <div *ngIf="!firstname.valid && (firstname?.dirty || firstname?.touched)">
      <div [hidden]="!firstname.error.required">First NAme is required</div>
      <div [hidden]="!firstname.errors.minlength">
        Max Length is 10 character
      </div>
    </div>

    <input type="text" formControlName="lastname" placeholder="lastname" />

    <div *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)">
      <div [hidden]="!lastname.errors.pattern">Only Charecters are allowed</div>
      <div [hidden]="!lastname.errors.maxLength">Max length is 10</div>
    </div>

    <input type="text" formControlName="email" placeholder="enter your email" />

    <div *ngIf="!email.valid && (email.dirty || email.touched)">
      <div [hidden]="!email.error.required">email is required</div>
      <div [hidden]="!email.errors.email">invalid email</div>
    </div>
    <input type="radio" value="male" formControlName="gender" />Male
    <input type="radio" value="female" formControlName="gender" />Female

    <div *ngIf="!gender.valid && (gender.dirty || gender.touched)">
      <div [hidden]="!gender.error.required">gender is required</div>
    </div>

    <input type="checkbox" name="isMArried" formControlName="isMarried" /> is
    married

    <input
      type="text"
      formControlName="country"
      placeholder="enter your country "
    />
    <div *ngIf="!country.valid && (country.dirty || country.touched)">
      <div [hidden]="!country.error.required">country is a required field</div>
    </div>

    <div formGroupName="address">
      <input
        type="text"
        formControlName="city"
        placeholder="enter your city "
      />
      <div *ngIf="!city.valid && (city.dirty || city.touched)">
        <div [hidden]="!city.error.required">city is a required field</div>
      </div>
      <input
        type="text"
        formControlName="street"
        placeholder="enter your street "
      />
      <div *ngIf="!street.valid && (street.dirty || street.touched)">
        <div [hidden]="!street.error.required">street is a required field</div>
      </div>
      <input
        type="text"
        formControlName="pincode"
        placeholder="enter your pincode "
      />
      <div *ngIf="!pincode.valid && (pincode.dirty || pincode.touched)">
        <div [hidden]="!pincode.error.required">
          pincode is a required field
        </div>
      </div>
    </div>

    <p>
      <button type="submit" [disabled]="!contractForm.valid">Submit</button>
    </p>
  </form>
</div>
<div style="float: rigth; width: 50%">
  <h3>Form status</h3>
  <b>valid: </b> {{ contractForm.valid }} <b>invalid: </b>
  {{ contractForm.invalid }} <b>touched: </b> {{ contractForm.touched }}
  <b>untouched: </b> {{ contractForm.untouched }} <b>dirty: </b>
  {{ contractForm.dirty }} <b>enabled: </b> {{ contractForm.enabled }}
  <b>disabled: </b> {{ contractForm.disabled }}
</div>
<div>
  <h3>{{ contractForm.value | json }}</h3>
</div>

